:root {
  --header-size: min(18vw, 18vh);

  &::before {
    content: '';
    background-image: url('../public/Oranges & Ornaments.svg');
    background-size: 25%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    right: 0;
    -webkit-mask-image: linear-gradient(#00000099, #00000000);
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: white;
      background-color: #333;
      color-scheme: dark;
    }
  }
}
