@font-face {
  font-family: 'Best Friends Font';
  src: url('../public/Best Friends Font.ttf') format('truetype');
}

@font-face {
  font-family: 'Boho Font - Lined';
  src: url('../public/Boho Font - Lined.ttf') format('truetype');
}

@font-face {
  font-family: 'Boogie Down';
  src: url('../public/Boogie Down.ttf') format('truetype');
}

:root {
  --header-size: min(18vw, 18vh);
}

html::before {
  content: '';
  background-image: url('../public/Oranges & Ornaments.svg');
  background-size: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#00000099, #00000000);
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: #333;
    /* color-scheme: dark; */
  }
}

body {
  margin: 0;
  backdrop-filter: blur(0.1rem);
}

h1 {
  margin: 0;
  width: 100%;
  position: relative;
}

@keyframes hue-spin {
  0% { filter: hue-rotate(0deg) }
  50% { filter: hue-rotate(360deg) }
}

h1 > span {
  display: block;
  text-align: center;
  transition: filter 1.5s ease-in-out;
  animation: hue-spin 3s infinite ease-in-out;

  background-image: url('../public/Purple Leopard.svg');
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;

  position: relative;
}

h1 > span:hover {
  filter: hue-rotate(180deg);
}

h1 .org {
  font-size: calc(1.2 * var(--header-size));
  font-family: 'Best Friends Font', sans-serif;
  margin-top: calc(-0.4 * var(--header-size));
}

h1 .year {
  font-size: calc(1.7 * var(--header-size));
  font-family: 'Boho Font - Lined', sans-serif;
  filter: hue-rotate(90deg);
  margin-top: calc(-0.95 * var(--header-size));
}

h1 .event {
  font-size: calc(1.9 * var(--header-size));
  font-family: 'Boogie Down', sans-serif;
  filter: luminance(0.25);
  margin-top: calc(-2.2 * var(--header-size));
}

h1 .cap-letter {
  font-size: 150%;
}

h1.outline {
  position: absolute;
  top: 0;
  cursor-events: none;
}

h1.outline > span:first-of-type {
  margin-top: 0;
}

h1.outline > span {
  background: transparent;
}

#steps {
  margin: 0;
  padding: 0;
}

#steps > li > h2::before {
  content: '#' counter(step) ': ';
  font-weight: bold;
}

#steps > li {
  counter-increment: step;
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

#steps > li > h2,
#submit {
  font-size: calc(0.35 * var(--header-size));
  font-weight: bold;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  color: white;
  background-image: url('../public/Purple Leopard.svg');
  background-size: 50%;
  border-radius: 1.5rem;
  border: 2px solid black;
  -webkit-text-stroke: 1px #99999999;
}

#SIWE {
  width: 30vmin;
  height: 10vmin;
}

.file,
.file * {
  display: flex;
  justify-content: center;
  align-self: center;
}

.file,
.file select,
.file option,
.file optgroup {
  font-size: calc(0.2 * var(--header-size));
}

@media only screen and (max-width: 768px) {
  .file {
    flex-direction: column;
  }
  .file label {
    align-self: center;
  }
}

.file label {
  display: flex;
}

.file h3 {
  margin: 0;
  margin-right: 0.5ex;
}

.file > span {
  margin-inline: 0.5ex;
  align-self: center;
}

.file input {
  display: none;
}

button,
.button {
  color: buttontext;
  background-color: buttonface;
  font-weight: normal;
  padding: 0.1rem 0.5rem;
  border: 1px outset;
  border-radius: 0.25em;
}

button:hover,
.button:hover {
  filter: brightness(0.75);
  padding: calc(0.1rem + 1px) calc(0.5rem - 0.75px) calc(0.1rem - 1px)
    calc(0.5rem + 0.75px);
  border: 1px inset;
}

textarea {
  width: clamp(10em, 25em, 75vw);
  height: 8em;
  padding: 0.5em;
}

.tooltip {
  font-weight: normal;
}

.tooltip input:checked ~ .handle {
  color: darkgreen;
}

.tooltip input {
  display: none;
}

.tooltip .tip {
  display: none;
  font-size: calc(0.15 * var(--header-size));
  padding: 0.25em;
  text-align: justify;
  padding-inline: 0.5em;
}

.tooltip .tip p:first-of-type {
  margin-top: 0;
}

.tooltip .tip p:last-of-type {
  margin-bottom: 0;
}

.tooltip .tip a {
  color: #d753d7;
}

h2:hover .tooltip .tip {
  position: absolute;
  left: calc(50vw - 35rem / 2);
  top: 3em;
  width: calc(35rem - 2em);
  display: inline-block;
  background-color: #333;
  border: 2px solid white;
  border-radius: 1em;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  h2:hover .tooltip .tip {
    left: calc(50vw - calc((100vw - 4em) / 2));
    width: calc(100vw - 4em);
  }
}

#submit {
  filter: hue-rotate(90deg) drop-shadow(0 0 0.1em black);
  transition: filter 0.5s ease-in-out;
}

#submit:hover {
  filter: hue-rotate(270deg) drop-shadow(0 0 0.1em white);
  padding: calc(0.5rem + 1px) calc(1rem - 0.75px) calc(0.5rem - 1px)
    calc(1rem + 0.75px);
}

#submit:active {
  filter: hue-rotate(270deg) drop-shadow(0 0 0.1em darkgreen);
  transition: filter 0.1s ease-in-out;
}

#account {
  margin-top: -1.5em;
  textAlign: center;
  font-size: calc(0.3 * var(--header-size));
  -webkit-text-stroke: 3px #FFFFFF99;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.spinner {
  display: inline-block;
  font-size: calc(0.3 * var(--header-size));
  animation: spin 1s linear infinite;
}