@font-face {
  font-family: 'Best Friends';
  src: url('../public/Best Friends.ttf') format('truetype');
}

@font-face {
  font-family: 'Boho: Lined';
  src: url('../public/Boho - Lined.ttf') format('truetype');
}

@font-face {
  font-family: 'Boogie Down';
  src: url('../public/Boogie Down.ttf') format('truetype');
}

:root {
  --header-size: min(18vw, 18vh);

  &::before {
    content: '';
    background-image: url('../public/Oranges & Ornaments.svg');
    background-size: 25%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    right: 0;
    -webkit-mask-image: linear-gradient(#00000099, #00000000);
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: white;
      background-color: #333;
      color-scheme: dark;
    }
  }
}

@keyframes hue-spin {
  0% { filter: hue-rotate(0deg) }
  50% { filter: hue-rotate(360deg) }
}
