#steps {
  margin: 0;
  padding: 0;

  & > li {
    counter-increment: step;
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  & > li > h2::before {
    content: '#' counter(step) ': ';
    font-weight: bold;
  }
}

#steps > li > h2, #submit {
  font-size: calc(0.35 * var(--header-size));
  font-weight: bold;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  color: white;
  background-image: url('../public/Purple Leopard.svg');
  background-size: 50%;
  border-radius: 1.5rem;
  border: 2px solid black;
  -webkit-text-stroke: 1px #99999999;
}

.button {
  color: buttontext;
  background-color: buttonface;
  font-weight: normal;
  padding: 0.1rem 0.5rem;
  border: 1px outset;
  border-radius: 0.25em;

  &:hover {
    filter: brightness(0.75);
    padding:
      calc(0.1rem + 1px)
      calc(0.5rem - 0.75px)
      calc(0.1rem - 1px)
      calc(0.5rem + 0.75px)
    ;
    border: 1px inset;
  }
}

.explanation {
  font-size: calc(0.15 * var(--header-size));
  padding: 0.75em;
  margin-bottom: 1em;
  text-align: justify;
  left: calc(50vw - 40rem / 2);
  width: calc(40rem - 2em);
  border: 2px solid white;
  border-radius: 1em;
  background-color: #FFFFFFBB;

  & p:first-of-type {
    margin-top: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  @media (prefers-color-scheme: dark) {
    & {
      background-color: #333;
    }

    & a {
      color: #D753D7;
    }

    & a:hover, & a:active {
      color: #6ADA14;
    }
  }

  @media only screen and (max-width: 768px) {
    & {
      left: calc(50vw - calc((100vw - 4em) / 2));
      width: calc(100vw - 4em);
    }
  }
}

#address {
  width: clamp(10em, 25em, 75vw);
  height: 8em;
  padding: 0.5em;
  font-size: calc(0.15 * var(--header-size));
}

#submit {
  filter: hue-rotate(90deg) drop-shadow(0 0 0.1em black);
  transition: filter 0.5s ease-in-out;

  &:hover {
    filter: hue-rotate(270deg) drop-shadow(0 0 0.1em white);
    padding:
      calc(0.5rem + 1px)
      calc(1rem - 0.75px)
      calc(0.5rem - 1px)
      calc(1rem + 0.75px)
    ;
  }

  &:active {
    filter: hue-rotate(270deg) drop-shadow(0 0 0.1em darkgreen);
    transition: filter 0.1s ease-in-out;
  }
}
